
Pods/TrustWalletCore/WalletCoreCommon.xcframework/ios-arm64/WalletCoreCommon.framework/WalletCoreCommon
Pods/TrustWalletCore/WalletCoreCommon.xcframework/macos-arm64_x86_64/WalletCoreCommon.framework/Versions/A/WalletCoreCommon 
Pods/Realm/core/realm-monorepo.xcframework/watchos-arm64_i386_x86_64-simulator/librealm-monorepo.a
Pods/TrustWalletCore/WalletCoreCommon.xcframework/ios-arm64_x86_64-simulator/WalletCoreCommon.framework/WalletCoreCommon